body {
    background-color: #2C2F33;
}

.padding {
    padding-top: 2rem;
}

.footer {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: wheat;
    font-size: small;
}